* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
	font-weight: 400px;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.nav > li > a {
  font-size: 14px;
  padding-left: 3px;
}

.navbar .brand, .navbar .nav > li > a {
    color: #fff;
}

.header {
	height: 70vh;
	background-size: cover;
	background-position: top;
	position: relative;
}

.green {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40,180,31, 0.8));
}

.blue {
  background-image: linear-gradient(to right bottom, rgba(77,166,255, 0.8), rgba(0,107,255, 0.8));
}

.orange {
  background-image: linear-gradient(to right bottom, rgba(255,101,0, 0.8), rgba(255,37,0, 0.8));
}

.purple {
  background-image: linear-gradient(to right bottom, rgba(255,52,255, 0.8), rgba(173,0,230,0.8));
}

.red {
  background-image: linear-gradient(to right bottom, rgba(255,77,77,0.8), rgba(255,0,0,0.8));
}


@media screen and (max-width: 500px) and (max-height: 500px){
    .header-img {
      height: 2px
    }

    .card {
      width: 100%;
    }

    .col-md-4 .custom-card {
      width: 100%
    }

}
