* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
	font-weight: 400px;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.nav > li > a {
  font-size: 14px;
  padding-left: 3px;
}

.navbar .brand, .navbar .nav > li > a {
    color: #fff;
}

.header {
	height: 70vh;
	background-size: cover;
	background-position: top;
	position: relative;
}

.header-img {
  height: 35%;
  border-radius: 100%;
  align: center;
  margin-left: 44.5%;
  margin-top: 5%
}

.custom-card {
  width: 27%
}

.card-mobile-xs-4 {
  background-color: #fff;
  box-shadow: 0 0 40px -6px #777;
  border-radius: 10px;
  margin-left: 36%;
  margin-bottom: 20px;
  width: 100%;
  height: 730px;
  word-wrap: break-word;
}


.card-img {
   width: 100%;
   height: 200px;
   display: block;
   border-radius: 10px;
}



.xs-4-img-not-found {
  width: 100%;
  height: 200px;
  display: block;
  background-color: #777;
  border-radius: 10px
}

.navbar-custom {
  background: transparent;
}

.admin-nav > li > a{
  color: #fff;
  display: inline-flex;
  text-decoration: none;
}

.admin-nav > li > a:hover{
  color: black;
}

@media screen and (max-width: 500px) {
  .header-img{
    height: 25%;
    margin-left: 31%;
    margin-top: 50%;
  }

  .navbar .navbar-default .brand, .navbar .nav {
    background-color: #ececec;
  }

  .navbar .brand, .navbar .nav > li > a {
      color: black;
  }

}

.blog-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 80%;
  margin-left: 7.8%;
  align-items: stretch;
  margin-bottom: 8%
}

.thumbnail {
  display: flex;           /* new */
  flex-direction: column;
  color: #444;
  position: relative;
  top: 0;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all .1s ease-in;
  height: 97%;
  justify-content: space-around;
  margin: 4px;
}


.thumbnail:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.caption{
  flex: 1 0 auto;
}

.span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 1em 0 0 0;
  align-self: flex-end;
  padding: 1.5rem;
}


.green {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40,180,31, 0.8));
}

.blue {
  background-image: linear-gradient(to right bottom, rgba(77,166,255, 0.8), rgba(0,107,255, 0.8));
}

.orange {
  background-image: linear-gradient(to right bottom, rgba(255,101,0, 0.8), rgba(255,37,0, 0.8));
}

.purple {
  background-image: linear-gradient(to right bottom, rgba(255,52,255, 0.8), rgba(173,0,230,0.8));
}

.red {
  background-image: linear-gradient(to right bottom, rgba(255,77,77,0.8), rgba(255,0,0,0.8));
}

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.Loader {
  color: salmon;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.Loader:before,
.Loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.Loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
